.contact {
  border: 0.15rem solid #dae0e5;
  border-radius: 1rem;
  margin: 2rem auto;

  .navbar {
      border-radius: 0.8rem 0.8rem 0 0;
      padding: 1rem 4rem;

      .navbar-brand {
        color: #8b8b8b;
        font-weight: 600;
      }

      .form-inline {
        background: #ffffff;
        border: 0.1rem solid #000000;
        border-radius: 2rem;

        .fa {
          padding: 0.5rem 0 0.5rem 0.5rem
        }

        .form-control {
          border: none;
          border-radius: 2rem;
          transition: none;
        }

        .form-control:focus {
          border-color: none;
          box-shadow: none;
        }
      }
  }

  .data-list {
      padding: 0 4rem;

      .table th {
        border-top: none;
      }
  }

}

.new-contact {
  width: 50%;

  form {
      margin: 2rem auto;
  }

  #opt-click {
      margin-left: 0.1rem;
  }

  .btn {
      background-color: #e8e8e9;
      color: #000000;
  }

  .btn-outline-secondary {
      border-color: #9f9fa5;
  }
}